<h1><%= t('.header', title: @user_test.test.title) %></h1>
<%= render 'result_message', results: @user_test.results, outcome: result_outcome(@user_test).values %>

<%= link_to t('.back'), root_path %>
