<h1> Test completed </h1>
<%= render 'result_message', color: result_markup(@user_test).color, outcome: result_markup(@user_test).outcome,
  results: @user_test.results %>

<%= link_to 'Back to tests', root_path %>
