<nav class="navbar">
  <%= link_to 'TestGuru', root_path, class: 'navbar-brand' %>
  <span>TestGuru Admin Panel</span>
  <span class="navbar-text">
      <%= t('.welcome') %>,<b><%= current_user.first_name %></b> |
      <%= link_to t('.logout'), destroy_user_session_path, method: :delete %>
  </span>
</nav>
