<h3 class="text-center">Gists</h3>
<div class="row mt-3 justify-content-center">
  <table class="table table-hover table-bordered">
    <tr class="table-primary">
      <th><%= t('.question') %></th>
      <th>URL</th>
      <th>Email</th>
    </tr>
      <%= render @gists %>
  </table>
  <%= link_to t('.back'), :back, class: 'badge badge-secondary' %>
</div>
