<% if resourse.present? && resourse.errors.any? %>
  <%= content_tag :div, class: 'resourse-errors', data: { resourse_id: resourse.id } do %>
    <h2>
      <%= t('.header', count: resourse.errors.count) %>:
    </h2>

    <ul>
      <% resourse.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
