<footer class="footer">
  <div class="container">
    <%= current_year %>
    ArkusCode
    <%= github_url('ArkusCode', 'TestGuru') %>
    <small><%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'http://thinknetica.com/', target: :blank %></small>
    <span class="float-right"><%= link_to 'Feedback', new_feedback_path, class: "badge badge-primary" %></span>
  </div>
</footer>
