<footer>
  <br>
  <div align="center">
    <%= current_year %>
    ArkusCode
    <%= github_url('ArkusCode', 'TestGuru') %>
    <small><%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'http://thinknetica.com/', target: :blank %></small>
  </div>
</footer>
