<li>
  <%= answer.body %><br>
  <%= link_to t('admin.show_link'), admin_answer_path(answer) %> |
  <%= link_to t('admin.edit_link'), edit_admin_answer_path(answer) %> |
  <%= link_to t('admin.delete_link'),
               admin_answer_path(answer),
               method: :delete,
               data: { confirm: t('admin.confirm') } %>
</li>
