<p>
  <b><%= t('caption.question')%>:</b>
  <%= @answer.question.body %>
</p>


<%= render 'form', question: @question, answer: @answer %>
<%= link_to t('admin.back_link'), admin_question_path(@answer.question) %>
