<li>
  <%= question.body %><br>
  <%= link_to t('admin.show_link'), admin_question_path(question) %> |
  <%= link_to t('admin.edit_link'), edit_admin_question_path(question) %> |
  <%= link_to t('admin.delete_link'),
               admin_question_path(question),
               method: :delete,
               data: { confirm: t('admin.confirm') } %>
</li>
