<h1><%= "#{@test.title} #{test_level(@test)} test"%></h1>
<p><%= render @test.questions %></p>
<%= link_to 'New question', new_test_question_path(test_id: params[:id])%><br>
<%= link_to 'Back', tests_path %>
